@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme-light {
    --foreground-rgb: theme('colors.neutral.900');
    --background-start-rgb: theme('colors.slate.200');
    --background-end-rgb: theme('colors.slate.300');
  }
  
  .theme-dark {
    --foreground-rgb: theme('colors.neutral.100');
    --background-start-rgb: theme('colors.slate.900');
    --background-end-rgb: theme('colors.slate.950');
  }
  
  :root {
    @apply theme-light;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      @apply theme-dark;
    }
  }
  
  html {
    &.light {
      @apply theme-light;
    }
    
    &.dark {
      @apply theme-dark;
    }
    
    @apply overflow-x-hidden;
  }
  
  body {
    @apply w-full;
    
    --nav-height: theme('height.8');
    --nav-bar-height: theme('height.12');
    
    color: var(--foreground-rgb);
    background-image: radial-gradient(var(--background-start-rgb), var(--background-end-rgb));
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

@layer components {
  .width-with-gap-base {
    --items-count: 1;
    --gaps-count: calc(var(--items-count) - 1);
    
    width: calc(100% / var(--items-count) - (var(--gap) * var(--gaps-count) / var(--items-count)));
  }
  
  /* region Button styling (button-*) */
  
  .button-border {
    @apply border border-slate-700 dark:border-slate-300;
  }
  
  .button-bg-hover {
    @apply hover:bg-slate-700 hover:dark:bg-slate-300;
  }
  
  .button-text-hover {
    @apply hover:text-slate-200 dark:hover:text-slate-800;
  }
  
  .button-text-group-hover {
    @apply group-hover:text-slate-200 dark:group-hover:text-slate-800;
  }
  
  /* endregion */
  
  .invert-base {
    @apply duration-200;
  }
  
  .meal-active {
    @apply ring-1 ring-inset;
  }
  
  .bg-blink-base {
    @apply rounded-lg;
    
    @keyframes bg-blink-animation {
      0% {
        background-color: var(--twc-theme-bg-blink);
      }
      
      100% {
        background-color: transparent;
      }
    }

    animation: bg-blink-animation 1.5s ease-in-out infinite alternate;
  }
  
  /* region Text styling (text-*) */
  
  .text-link {
    @apply
      text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-200
      border-b border-blue-600 hover:border-blue-800 dark:border-blue-400 dark:hover:border-blue-200
    ;
  }
  
  .text-link-inverse {
    @apply
      text-blue-400 hover:text-blue-200 dark:text-blue-600 dark:hover:text-blue-800
      border-b border-blue-400 hover:border-blue-200 dark:border-blue-600 dark:hover:border-blue-800
    ;
  }
  
  .text-heading-highlight {
    @apply pb-1.5 border-b-slate-500 border-b;
  }
  
  .text-heading-spacing:not(:first-child) {
    @apply mt-3;
  }
  
  /* endregion */
  
  .shadow-for-light {
    @apply shadow-border-sm shadow-slate-500 dark:shadow-none;
  }
}

@layer utilities {
  .transform-smooth {
    @apply transform-gpu transition-all;
  }
  
  .markdown {
    & h1 {
      @apply text-5xl text-heading-highlight text-heading-spacing;
    }
    
    & h2 {
      @apply text-4xl text-heading-highlight text-heading-spacing;
    }
    
    & h3 {
      @apply text-3xl text-heading-highlight text-heading-spacing;
    }
    
    & h4 {
      @apply text-2xl text-heading-spacing;
    }
    
    & h5 {
      @apply text-xl text-heading-spacing;
    }
    
    & h6 {
      @apply text-lg text-heading-spacing;
    }
    
    & hr {
      @apply border-t-gray-600;
    }
    
    & blockquote {
      & > p + blockquote {
        @apply mt-1.5 mb-1.5;
      }
      
      @apply border-l-4 border-slate-500/50 px-3 py-1.5 text-slate-600 dark:text-slate-400;
    }
    
    & a {
      @apply text-link;
    }
    
    & ul {
      & > li {
        @apply ml-3 before:content-[""] before:-ml-0.5;
      }
      
      @apply list-inside list-disc;
    }
    
    & ol {
      & > li {
        @apply ml-3 before:content-[""];
      }
      
      @apply list-inside list-decimal;
    }
    
    & pre {
      @apply p-2 rounded-lg shadow-border shadow-pink-500;
    }
    
    & code {
      @apply p-1 text-pink-600 dark:text-pink-400;
    }
    
    & table {
      @apply rounded-lg p-1 border-separate border-spacing-0.5 shadow-border shadow-slate-500;
      
      & td {
        @apply p-1;
      }
      
      & > thead > tr {
        @apply border border-slate-500;
      }
      
      & > tbody {
        & tr:nth-child(even) {
          @apply bg-slate-300/50 dark:bg-slate-600/50;
        }
        
        & tr:nth-child(odd) {
          @apply bg-white/50 dark:bg-slate-800/50;
        }
      }
    }
  }
  
  div.unlock-table-row {
    @apply border-b border-b-gray-700 text-center last:border-b-0;
  }
  
  .scrollbar-hide {
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  /* region Fixed count of element in row (width-with-gap-*) */
  
  .width-with-gap-xs {
    --gap: theme('gap[1]') !important;
    
    @apply width-with-gap-base;
  }
  
  .width-with-gap-sm {
    --gap: theme('gap[1.5]') !important;
    
    @apply width-with-gap-base;
  }
  
  .width-with-gap {
    --gap: theme('gap[2]');
    
    @apply width-with-gap-base;
  }
  
  .width-with-gap-2-items {
    --items-count: 2;
  }
  
  .width-with-gap-3-items {
    --items-count: 3;
  }
  
  .width-with-gap-4-items {
    --items-count: 4;
  }
  
  .width-with-gap-5-items {
    --items-count: 5;
  }
  
  .width-with-gap-6-items {
    --items-count: 6;
  }
  
  .width-with-gap-7-items {
    --items-count: 7;
  }
  
  .width-with-gap-8-items {
    --items-count: 8;
  }
  
  .width-with-gap-12-items {
    --items-count: 12;
  }
  
  /* endregion */

  /* region Info section/icon styling (info-*) */
  
  .info-section-opaque {
    @apply bg-gradient-to-br from-slate-200 to-slate-100 dark:from-black dark:to-slate-950;
  }
  
  .info-section-bg {
    @apply bg-gradient-to-br from-slate-200/80 to-slate-100/60 dark:from-black/60 dark:to-slate-950/75;
  }
  
  .info-section {
    @apply gap-1.5 rounded-lg p-4 self-stretch info-section-bg;
  }
  
  .info-icon-base {
    @apply rounded-full shrink-0;
  }
  
  .info-icon-normal {
    @apply info-icon-base bg-slate-400/80 dark:bg-slate-500/80;
  }
  
  .info-icon-warn {
    @apply info-icon-base bg-amber-400/80 dark:bg-yellow-700/80;
  }
  
  .info-icon-soft {
    @apply info-icon-base bg-slate-400/40 dark:bg-slate-500/40;
  }
  
  .info-icon-glow {
    @apply info-icon-base shadow-border shadow-slate-700 dark:shadow-slate-300;
  }
  
  .info-highlight {
    @apply rounded-lg shadow-border shadow-slate-700 dark:shadow-slate-300;
  }
  
  /* endregion */

  /* region Image inverting (invert-*) */
  
  .invert-on-light {
    @apply invert-base invert dark:invert-0;
  }
  
  .invert-on-dark {
    @apply invert-base dark:invert;
  }
  
  .invert-hoverable {
    @apply invert-on-light group-hover:invert-0 group-hover:dark:invert;
  }
  
  .invert-hoverable-dark {
    @apply invert-on-dark group-hover:invert group-hover:dark:invert-0;
  }
  
  /* endregion */

  /* region Button styling (button-*) */
  
  .button-base {
    @apply rounded-lg transform-smooth;
  }
  
  .button-bg {
    @apply bg-white/80 shadow-for-light dark:bg-slate-700/50;
  }
  
  .button-text {
    @apply text-slate-700 dark:text-slate-300;
  }
  
  .button-alert-bg {
    @apply bg-red-500/40 hover:bg-red-500;
  }
  
  .button-warn-bg {
    @apply bg-amber-400/80 dark:bg-yellow-700/50;
  }
  
  .button-clickable {
    @apply button-base button-bg-hover button-text button-text-hover;
  }
  
  .button-clickable-border {
    @apply button-clickable button-border;
  }
  
  .button-clickable-bg {
    @apply button-clickable button-bg;
  }
  
  .button-clickable-glow {
    @apply button-clickable shadow-border shadow-slate-500;
  }
  
  .button-disabled {
    @apply button-base bg-slate-400/50 dark:bg-slate-800/30 text-slate-500/70 dark:text-slate-500;
  }
  
  .button-disabled-border {
    @apply button-disabled border border-slate-400/50 dark:border-slate-500/50;
  }
  
  /* endregion */
  
  /* region Toggle button styling (button-toggle-*) */
  
  .button-toggle-inactive-hover {
    @apply hover:bg-slate-400 dark:hover:bg-slate-500 hover:text-slate-900 dark:hover:text-slate-100;
  }
  
  .button-toggle-inactive-bg {
    @apply bg-slate-400/20 dark:bg-slate-700/50;
  }
  
  .button-toggle-inactive {
    @apply button-toggle-inactive-hover button-toggle-inactive-bg;
  }
  
  .button-toggle-active-hover {
    @apply hover:bg-slate-500 dark:hover:bg-slate-400 hover:text-slate-100 dark:hover:text-slate-800;
  }
  
  .button-toggle-active-bg {
    @apply bg-slate-800 text-slate-100 dark:bg-slate-50 dark:text-slate-800;
  }
  
  .button-toggle-active {
    @apply button-toggle-active-hover button-toggle-active-bg;
  }
  
  /* endregion */

  /* region Input row styling (input-row-*) */
  
  .input-row-normal {
    @apply bg-slate-50/40 dark:bg-slate-700/20;
  }
  
  .input-row-highlight {
    @apply bg-slate-50 dark:bg-slate-700/50;
  }
  
  /* endregion */

  /* region Meal type styling (meal-*) */
  
  .meal-bg-curry {
    @apply bg-orange-300/40 hover:bg-orange-400/70 dark:bg-orange-700/40 hover:dark:bg-orange-700/90;
  }
  
  .meal-text-curry {
    @apply text-orange-800 dark:text-orange-200 group-hover:text-orange-200 dark:group-hover:text-orange-800;
  }
  
  .meal-border-curry {
    @apply border-orange-600 dark:border-orange-500;
  }
  
  .meal-active-curry {
    @apply meal-active meal-text-curry ring-1 ring-inset ring-orange-800 dark:ring-orange-200;
  }
  
  .meal-dot-curry {
    @apply bg-orange-600 dark:bg-orange-500 group-hover:bg-orange-500 dark:group-hover:bg-orange-600;
  }
  
  .meal-bg-salad {
    @apply bg-yellow-300/40 hover:bg-yellow-400/70 dark:bg-yellow-700/40 hover:dark:bg-yellow-700/90;
  }
  
  .meal-text-salad {
    @apply text-yellow-800 dark:text-yellow-200 group-hover:text-yellow-200 dark:group-hover:text-yellow-800;
  }
  
  .meal-border-salad {
    @apply border-yellow-600 dark:border-yellow-500;
  }
  
  .meal-active-salad {
    @apply meal-active meal-text-salad ring-yellow-800 dark:ring-yellow-200;
  }
  
  .meal-dot-salad {
    @apply bg-yellow-600 dark:bg-yellow-500 group-hover:bg-yellow-500 dark:group-hover:bg-yellow-500;
  }
  
  .meal-bg-dessert {
    @apply bg-lime-300/40 hover:bg-lime-400/70 dark:bg-lime-700/40 hover:dark:bg-lime-700/90;
  }
  
  .meal-text-dessert {
    @apply text-lime-800 dark:text-lime-200 group-hover:text-lime-200 dark:group-hover:text-lime-800;
  }
  
  .meal-border-dessert {
    @apply border-lime-600 dark:border-lime-500;
  }
  
  .meal-active-dessert {
    @apply meal-active meal-text-dessert ring-inset ring-lime-800 dark:ring-lime-200;
  }
  
  .meal-dot-dessert {
    @apply bg-lime-600 dark:bg-lime-500 group-hover:bg-lime-500 dark:group-hover:bg-lime-600;
  }
  
  /* endregion */

  /* region Miscellaneous text styling (text-*) */
  
  .text-shadow-preset {
    @apply shadow-slate-200 text-shadow dark:shadow-slate-900;
  }
  
  .text-energy {
    @apply text-amber-700 dark:text-amber-400 group-hover:text-amber-400 dark:group-hover:text-amber-700;
  }
  
  .text-danger {
    @apply
      transform-smooth text-red-600 group-hover:text-red-400
      dark:text-red-400 dark:group-hover:text-red-600
    ;
  }
  
  .text-safe {
    @apply
      transform-smooth text-green-600 group-hover:text-green-400
      dark:text-green-400 dark:group-hover:text-green-600
    ;
  }
  
  /* endregion */
  
  /* region Rarity styling (rarity-*) */
  
  .rarity-0 {
    @apply text-slate-400 dark:text-slate-500 group-hover:text-slate-500 group-hover:dark:text-slate-400;
  }
  
  .rarity-1 {
    @apply text-sky-600 dark:text-sky-300 group-hover:text-sky-300 group-hover:dark:text-sky-600;
  }
  
  .rarity-2 {
    @apply text-purple-700 dark:text-purple-300 group-hover:text-purple-300 group-hover:dark:text-purple-700;
  }
  
  /* endregion */

  /* region Blink styling (bg-blink-*) */
  
  .bg-blink-light {
    @apply bg-blink-base;
    
    --twc-theme-bg-blink: theme('colors.slate.300');
  }
  
  .bg-blink-dark {
    @apply bg-blink-base;
    
    --twc-theme-bg-blink: theme('colors.slate.700');
  }
  
  .bg-blink {
    @apply bg-blink-light dark:bg-blink-dark;
  }
  
  /* endregion */

  /* region Border styling (border-*) */
  
  .border-common {
    @apply border-slate-400/70 dark:border-slate-700/50;
  }
  
  .border-link {
    @apply border-b border-slate-500;
  }
  
  /* endregion */
  
  /* region Navbar styling (nav-*) */
  
  .nav-height {
    height: var(--nav-height);
  }
  
  .nav-bar-height {
    height: var(--nav-bar-height);
  }
  
  .nav-button {
    @apply nav-height py-1;
  }
  
  .nav-button-text {
    @apply nav-button button-clickable-bg text-sm whitespace-nowrap px-2.5;
  }
  
  /* endregion */
  
  /* region Miscellaneous background styling (bg-*) */
  
  .bg-corner-mark {
    @apply bg-gradient-to-br from-transparent to-slate-500/80;
  }
  
  .bg-plate {
    @apply bg-slate-500/10 rounded-lg p-2;
  }
  
  /* endregion */
}
