@tailwind utilities;

@layer utilities {
  div.announcement {
    @keyframes marquee {
      0% {
        transform: translate(0, 100%);
      }
      
      7% {
        transform: translate(0, 0);
      }
      
      93% {
        transform: translate(0, 0);
      }
      
      100% {
        transform: translate(0, -100%);
      }
    }
    
    @apply h-10 overflow-hidden text-sm md:h-5;
    
    & > div {
      @apply rounded-none table-cell align-middle w-screen transform-gpu;
      
      animation: marquee 4s linear infinite;
    }
  }
}
