@tailwind utilities;

@layer utilities {
  div.announcement-animation {
    @keyframes marquee {
      0% {
        transform: translate(0, 100%);
      }
      
      6% {
        transform: translate(0, 0);
      }
      
      94% {
        transform: translate(0, 0);
      }
      
      100% {
        transform: translate(0, -100%);
      }
    }
    
    & > div {
      animation: marquee 4s linear infinite;
    }
    
    @apply w-full transform-gpu;
  }
}
